@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 196 27% 8%;
    --foreground: 0 0% 98%;
    --card: 196 27% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 196 27% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 146 67% 54%;
    --primary-foreground: 0 0% 5%;
    --secondary: 202 27% 14%;
    --secondary-foreground: 0 0% 98%;
    --muted: 197 26% 11%;
    --muted-foreground: 0 0% 65%;
    --accent: 197 26% 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 63%;
    --destructive-foreground: 0 0% 98%;
    --success: 123 38% 57%;
    --success-foreground: 0 0% 5%;
    --border: 202 27% 14%;
    --input: 202 27% 14%;
    --ring: 146 67% 54%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
